/**
 * Stylesheet for the CallbackRefSample/CreateRefSample/StringRefSample components.
 * Author: Andrew Jarombek
 * Date: 1/12/2020
 */

.ref-samples {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.ref-samples > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ref-samples figure {
    height: 60px;
    width: 60px;
}

.ref-samples img:focus {
    outline: none;
}

.ref-samples img {
    height: 100%;
    width: 100%;
    filter: brightness(4);
}
