@import "App.css";
@import "Demo.css";
@import "context/Context.css";
@import "createref/CreateRef.css";
@import "forwardref/ForwardRefSample.css";
@import "forwardref/ButtonWrapper.css";
@import "newlifecycle/DerivedFromProps.css";
@import "newlifecycle/DerivedFromPropsWrapper.css";
@import "newlifecycle/SnapshotBeforeUpdate.css";
@import "strictmode/StrictModeComponent.css";

body {
    background-color: #e8e8e8;
}
